@font-face {
  font-family: 'Helvetica';
  src: url('fonts/Helvetica.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica_Bold';
  src: url('fonts/Helvetica_Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Times_New_Roman';
  src: url('fonts/Times_New_Roman.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}


body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; 
  padding: 0; 
}

a {
  color: inherit;
  text-decoration: none; 
}

html {
  height: 100%;
  overflow: hidden;
}

hr {
  margin: 20px 0;
  padding: 0; 
}

.btn {
  border: 2px solid black;
  border-radius: 50px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Helvetica', sans-serif;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.small_btn {
  border: 2px solid black;
  border-radius: 14px;
  background-color: white;
  color: black;
  padding: 8px 14px;
  font-size: 14px;
  margin: 5px;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  display: inline-block;
}

.small_btn:hover {
  color: grey; 
}


.btn:hover {
  color: grey; 
}
  
.home-button {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 8px 8px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
}

.home-button:hover {
  color: grey; 
}

.back-button {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 8px 8px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
}

.back-button:hover {
  color: grey; 
}

.center-section {
  border-radius: 1em;
  padding: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid black;
  
}
.container {
  display: flex;
  height: 100%;
}

.left-section {
  border-radius: 1em;
  padding: 2em;
  width: 30%;
  background-color: #fff;
  border: 2px solid black;
  box-sizing: border-box;
  margin: 20px;
  overflow-y: hidden;
}

.right-section {
  border-radius: 1em;
  padding: 2em;
  width: 70%;
  background-color: #fff;
  border: 2px solid black;
  box-sizing: border-box;
  margin: 20px;
  overflow-y: hidden;
}

.image-container {
  width: 100%;
  margin: 20px 0;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Times_New_Roman', serif;
  font-weight: 800;
  font-size: 36px;
  margin: 4px 0; 
}

h2 {
  font-family: 'Helvetica_bold', sans-serif;
  font-weight: 800;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 0; 
}

p {
  font-family: 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 0; 
}



