@font-face {
  font-family: 'Helvetica';
  src: url('Fonts/Helvetica.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica_Bold';
  src: url('Fonts/Helvetica_Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Times_New_Roman';
  src: url('Fonts/Times_New_Roman.otf') format('OpenType');
  font-weight: 800;
  font-style: normal;
}

body {

  background-image: url("Images/BG_1.jpg");

  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.center-section {
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #ffff;
  border: 2px solid black;
}

h1 {
  font-family: 'Times_New_Roman', serif;
  font-weight: 800;
  margin-top: 4px;
  font-size: 24px;
}

p {
  font-family: 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 14px;
  margin-top: 14px;
}

